* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-black: #000000;
  --color-white: #FFFFFF;
  --color-btn: #72C3DC;
  --color-shadow: #2B8EAD;
  --color-header: #333333;
  --color-bG: #EFEFEF;
  --color-border: #BFBFBF;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  background-color: var(--color-white);
}

header h3 {
  color: var(--color-white);
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: .3em;
}

footer {
  margin-top: auto;
  padding-block: 2em;
  text-align: center;
  font-weight: 500;
  font-size: 1em;
  color: var(--color-header);
}

ul {
  display: grid;
  padding-inline: 1em;
  grid-template-columns: 1fr;
  gap: .25em;
}

li {
  display: flex;
  position: relative;
  padding: .65em;
  justify-content: center;
  align-items: center;
  font-weight: 400;
  font-size: 1.3em;
  list-style: none;
  background-color: var(--color-bG);
  color: var(--color-black);
  isolation: isolate;
}

li::before {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  width: 3%;
  height: 100%;
  z-index: -1;
  background-color: var(--color);
}

header {
  text-align: center;
  padding-block: .7em;
  background-color: var(--color-header);
}

header h3 {
  font-weight: 400;
}


.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: .5em 5em;
  text-align: center;
  gap: .3em;
}

button {
  border: none;
  outline: none;
  width: 100%;
  padding: 1.2em;
  color: var(--color-white);
  font-size: .7em;
  border-radius: .6em;
  background-color: var(--color-btn);
  box-shadow: 0 4px 0 var(--color-shadow);
  cursor: pointer;
}

button:active {
  transform: translateY(2px);
  box-shadow: 0 1px 0 var(--color-shadow);
}

@media screen and (min-width: 420px) {
  main {
    flex-direction: row-reverse;
    align-items: flex-start;
    gap: 0;
  }

  .buttons {
    flex-direction: column;
    width: 13em;
    padding: 1.3em;
    gap: 1em;
  }

  header {
    border-bottom: .2em solid var(--color-border);
    background-color: var(--color-white);
  }

  header h3 {
    font-weight: 700;
    color: var(--color-black);
  }

  ul {
    width: 100%;
    max-width: 700px;
    padding: 0;
    grid-template-columns: repeat(3, 1fr);
    gap: 0;
  }

  li {
    aspect-ratio: 1/1;
    font-weight: 700;
    font-size: calc(1em + 5vw);
    color: var(--color-white);
  }

  li::before {
    width: 100%;
  }
}